.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 500px 500px;
  grid-gap: 10px;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border-right: solid rgb(15, 15, 15) 2px;
  border-left: solid rgb(15, 15, 15) 2px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
  border-bottom: solid rgb(175, 175, 175) 1px;
}

.buttonRefresh {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.saleHeader {
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: arial;
}
